body {
  margin: 0;
  font-family: "New York Extra Large";
}

.lh34 {
  line-height: 34px;
}

.fs20 {
  font-size: 20px;
}

.fs16 {
  font-size: 16px;
}

.fs36 {
  font-size: 36px;
}

.fw400 {
  font-weight: 400;
}

.fw700 {
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.navbar__block {
  border-bottom: 1px solid rgb(235, 235, 235);
  height: 133px;
}

.navbar {
  width: 90%;
  height: 40px;
  justify-content: space-between;
}

.navbar__logo {
  width: 395px;
  height: 37px;
}

.navbar__links {
  align-items: center;
  gap: 30px;
}

.navbar__links span {
  cursor: pointer;
}

.banner__block {
  padding: 40px 30px 40px 30px;
  text-align: center;
}

.banner__img {
  width: 800px;
  height: 500px;
}

.banner__content {
  width: 800px;
  height: 162px;
  margin-top: 30px;
}

.banner__content--para {
  font-size: 54px;
  line-height: 54px;
}

.banner__smallContent {
  width: 425px;
  height: 68px;
  margin-top: 30px;
}

.banner__smallPara {
  font-family: monospace;
}

.grid__block {
  padding: 20px 50px 60px 50px;
}

.grid__heading {
  width: 225px;
  height: 53px;
}

.grid__headPara {
  font-size: 44px;
  line-height: 52px;
}

.grids {
  width: 650px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
}

.grids__blocks {
  align-items: center;
  text-align: center;
}

.gridcontent__div {
  width: 260px;
  height: 78px;
  padding-top: 10px;
}

.grids__para {
  font-size: 22px;
  line-height: 26px;
}

/* footer component */

.footer {
  width: 1140px;
  height: 400px;
  background: black;
  color: white;
  margin-top: 20px;
  align-items: center;
}

.footer__links {
  width: 1140px;
  gap: 10px;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.footer__logo {
  padding: 120px 50px 10px 50px;
}

.footer__paraDiv {
  width: 488px;
  height: 70px;
  text-align: center;
}

.footer__para {
  padding: 10px 0px 20px 0px;
  font-size: 16px;
  line-height: 22px;
}

.footer__socialLinks {
  width: 200px;
  height: 27px;
  gap: 20px;
  padding: 30px 0px 20px 0px;
  justify-content: center;
}

.social__links {
  text-decoration: underline;
}

.copyright {
  width: 178px;
  height: 34px;
  text-align: center;
  padding: 30px 0px 20px 0px;
}

.copyright__para {
  line-height: 16px;
}

.link__deco {
  text-decoration: none;
  color: black;
}

.overlay::before,
.overlay::after {
  background: none !important;
}

.marquee-container {
  overflow: hidden !important;
}

/* landingPage Component */
.vertical__line {
  border-left: 1px solid #e6e4e4;
  height: 45px;
}

.line--height {
  height: 65px;
}

.landing__banner {
  text-align: center;
}

.blog__bannerImg {
  margin-top: 20px;
  height: 900px;
}

.blog__block {
  width: 640px;
  padding: 20px 0px 10px 0px;
}

.profile__block {
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
}

.profile__img {
  width: 250px;
  height: 56px;
  align-items: center;
  justify-content: space-between;
}

.profile__pic {
  height: 57px;
  width: 57px;
  border-radius: 30px;
}

.profile__name {
  width: 191px;
  height: 46px;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;
}

.pro__name {
  font-size: 16px;
  font-family: 'SF Pro Text';
  line-height: 19px;
}

.profile__social {
  width: 140px;
  height: 44px;
  border: 1px solid rgb(235, 235, 235);
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.profile__para1 {
  width: 640px;
  height: 238px;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

.blog__heading {
  width: 288px;
  height: 50px;
  padding: 20px 0px 20px 0px;
}

.blog__head {
  font-size: 32px;
}

.blog__image {
  height: 570px;
  width: 850px;
  margin: 10px 0px 10px 0px;
}

.landing__content {
  align-items: center;
  border-bottom: 1px solid black;
  position: relative;
  margin: 10px 0px 50px 0px;
}

.image__caption {
  width: 481px;
  height: 44px;
  text-align: center;
}

.lists {
  height: 34px;
  width: 640px;
  padding: 20px 0px 20px 0px;
  align-items: flex-start;
  margin-top: 50px;
}

.list {
  width: 588px;
  height: 168px;
}

.li {
  padding-bottom: 20px;
}

.blog__para2 {
  width: 640px;
  height: 68px;
  padding-bottom: 30px;
}

.social__block {
  height: 64px;
  border: 1px solid rgb(235, 234, 234);
  width: 640px;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  border-radius: 5px;
}

.social__fb {
  width: 184px;
  height: 26px;
  align-items: center;
  justify-content: space-between;
}

.blog__para3 {
  width: 640px;
  height: 19px;
  padding: 30px 0px 30px 0px;
  border-bottom: 1px dashed rgb(230, 230, 230);
}

.profile__div {
  width: 620px;
  height: 78px;
  justify-content: space-between;
  margin: 20px 0px 40px 0px;
}

.profile__div__img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.profile__div__content {
  height: 78px;
  width: 535px;
}

.eye__img {
  position: absolute;
  top: 2450px;
}

.landing__grid__block {
  padding: 20px 0px 30px 0px;
  align-items: center;
}

.landing__grid__heading {
  width: 376px;
  height: 50px;
}

.landing__grid__heading p {
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}

.landing__grid {
  width: 950px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  margin: 30px 0px 40px 0px;
}

.form__block {
  width: 640px;
  height: 313px;
  border: 1px solid grey;
  border-top: 5px solid black;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.form__para {
  height: 56px;
  width: 538px;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.email__block {
  width: 520px;
  height: 54px;
  border: 1px solid rgb(221, 220, 220);
}

.email__input {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 20px;
}

.email__btn {
  border: none;
  height: 54px;
  width: 139px;
  background: black;
  color: white;
}